# Byte-compiled / optimized / DLL files
*.py[cod]
*.idea/
*.ipynb_checkpoints

# Directories
deployment/
logs/
data/
venv/
activeClassifier.egg-info/

# Tex files
*.log
*.aux
*.out
.toc
*.synctex.gz

# Files
activeClassifier/tools/gumbel_softmax.py
notebooks/metrics_overviewOLD.ipynb
