# Byte-compiled / optimized / DLL files
*.py[cod]
*.idea/
*.ipynb_checkpoints

# Directories
activeClassifier/deployment/
activeClassifier/logs/
activeClassifier/data/

# Tex files
*.log
*.aux
*.out
.toc
*.synctex.gz

# Files
activeClassifier/tools/gumbel_softmax.py
activeClassifier/metrics_overviewOLD.ipynb
